*{
    box-sizing: border-box;
}

body {
    font-family:sans-serif;
    color:#333;
}

.steps{
    width:450px;
    background-color:#f7f7;
    border-radius: 17px;
    padding:25px 100px;
    margin:100px auto;
}

.numbers{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    margin-bottom: 100px;
}

.buttons > div {
   
    height: 20px;
    width: 80px;
    margin:20px;
    border-radius: 100%;
    aspect-ratio: 1;
    background-color: #e7e7e7;
}

.buttons{
    position:absolute;
}

